.root {
  display: flex;

  flex-direction: column;

  min-height: 100vh;
}

.navy {
  background-color: #003080
}

.red {
  background-color: #FF2040;

  color: #FFFFFF
}

.main {
  color: #FFFFFF;

  display: flex;

  flex: 1;

  flex-direction: column;

  overflow: auto
}

.center {
  align-items: center;

  display: flex;

  gap: 10px;

  justify-content: center;

  text-align: center;
}

.flex > ul {
  display: flex;
}

.flex > ul div img,
.flex > ul div {
  margin: 0 auto;
}

.centerColumn {
  flex-direction: column
}

.green {
  background-color: #00B020
}

.largeLogo {
  height: 100px
}

.logo {
  height: 50px
}

.cards {
  align-items: center;

  display: flex;

  flex-direction: column;

  justify-content: center;

  text-align: center;

  width: 100%;
}

.card { 
  margin: 10px; 
}


.cardOption { 
  margin: 10px;
  
  width: 60%;
}


.cards > div { 
  margin: 10px;

  padding: 10px;

  width: 60%;
}

.pt { padding-top: 15px }

.title { margin-top: 18px; }

.space { padding: 15px }

img.media { width: 200px; margin: 0 auto }

.btn { width: 120px }

.largeButton { width: 180px }

.xLargeButton { font-size: 18px; height: 50px; width: 300px }

.largeInput {
  font-size: 35px!important;

  padding: 0!important;

  text-align: center!important;

  width: 60px!important;
}

.bordered {
  border-radius: 5px;

  border-style: solid;

  border-width: 2px;

  margin: 5px;
}

.borderColor { border-color: #FFFFFF }

.row {
  display: flex;

  padding: 10px;
}
.around { justify-content: space-around }

.between { justify-content: space-between }

.fixed {
  background-color: #FFFAFA;

  bottom: 0;

  position: fixed;

  max-width: 600px;

  width: 100%
}

.otherColor {
  background-color: #003080;

  color: #FFFFFF
}

.margin { margin-bottom: 115px }

.column { flex-direction: column }

td > .gap {
  margin-right: 10px;
}

.row > th,
.row > td {
  font-size: 18px;

  font-weight: bold;
}

.row > th {
  background-color: #000;


  border-right: 1px solid #FFF;

  color: #FFF;
}

.row > td {
  background-color: #F5F5F5;

  border-right: 1px solid #000;
}

.underline {
  text-decoration: underline;
}

.border {
  border-bottom: 1px dashed #000;

  width: 100%;
}